.cart {
    margin: 2rem;
}

.cart-image {
    width: 5rem;
    display: none;
}

.cart-finishing-container {
    display: flex;
    justify-content: center;
}

.cart-title {
    text-align: center;
}

.cart-quantity {
    display: flex;
    justify-content: center;
}

.cart-elements {
    border-bottom: 0.2rem solid $primary-color-dark;
    font-weight: bolder;
}

.cart-products {
    height: 8rem;
}


.cart-finishing {
    text-align: center;
    border: 0.2rem solid white;
    border-top: 0;
    width: 14rem;
    margin-bottom: 1rem;
}

.cart-finishing-title {
    background-color: white;
    padding: 0.2rem;
}

.cart-finishing .desktop-two-columns {
    padding: 0.4rem;
}


.cart-buy {
    display: flex;
    justify-content: center;
}

.cart-buy button {
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    font-size: 1rem;
    border: 0.2rem solid white;
    cursor: pointer;
    background-image: linear-gradient(to right, #c86040, #ff8f6c);
    font-weight: bolder;
    border-radius: 0.5rem;
}

.cart-buttons {
    margin-top: 0.5rem;
}

.info-merchan-product-quantity form div input {
    width: 2rem;
    height: 1.9rem;
    border: 0;
    text-align: center;
}

.return {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.return button {
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    font-size: 1rem;
    border: 0.2rem solid white;
    cursor: pointer;
    background-image: linear-gradient(to right, #c86040, #ff8f6c);
    font-weight: bolder;
    border-radius: 0.5rem;

}


.cart table tr td {
    text-align: center;
    width: 10rem;
}

.cart table {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}