.notification {
    color: white;
    font-family: Roboto, Arial;
    position: fixed;
    top: 1rem;
    right: -20rem;
    transition: right 1s;
    padding: 0.4rem;
    display: block;
    z-index: 1004;
    border-radius: 0.4rem;

    &.active {
        top: 1rem;
        right: 1rem;
    }

    &.error{
        background-color: #970000;
    }

    &.success{
        background-color: #1e8100;
    }
}

.checkout-notification {
    color: white;
    font-family: Roboto, Arial;
    position: fixed;
    top: 1rem;
    right: -20rem;
    transition: right 1s;
    padding: 0.4rem;
    display: block;
    z-index: 1004;
    border-radius: 0.4rem;

    &.active {
        top: 1rem;
        right: 1rem;
    }

    &.error{
        background-color: #970000;
    }

    &.success{
        background-color: #1e8100;
    }
}
