.category-merchans-container {
    margin: 0 0 2rem 0;
}

.category-merchans-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.results-products-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.results-products-container {
    border-left: 0;
}

.results-products-total {
    margin-left: 0;
}

#type-products {
    border: 0;
    padding: 0.5rem;
    width: 15rem;
    margin-top: 1rem;
    background-color: $primary-color;
    border-radius: 0.2rem;
}

.merchandising {
    padding: 3rem;
}

.merchan-element {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    text-align: center;
}


.merchan-element-image img {
    width: 200rem;
}

.merchan-element-title h2 {
    font-weight: bolder;
    font-size: 1.5rem;
}

.merchan-element-title {
    margin: 1rem 0 0.5rem 0;
}

.merchan-element-category {
    margin: 0 0 0.5rem 0;
}

.merchan-element-category span {
    font-weight: bolder;
    color: $primary-color-dark;
    font-size: 1.5rem;
}

.merchan-element-description p {
    font-size: 1.5rem;
}

.category-merchans-products {
    line-height: 2rem;
}

.results-products-total {
    margin-left: 1rem;
}

.results-products-total span {
    font-weight: bolder;
}

.results-products-info {
    display: flex;
    justify-content: space-between;
}

.results-products-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.element {
    width: 15rem;
    margin: 1rem;
    position: relative;
    border: 0.5rem solid white;
    border-radius: 0.5rem;
    background-color: white;
}

.element-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: $primary-color-light;
}

.element-price {
    position: absolute;
    right: 0;
    top: 0;
    background-color: $primary-color-dark;
    padding: 0.5rem;
}

.element-see {
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
}

.element-see button {
    padding: 0.5rem;
    background-image: linear-gradient(to right, $primary-color-dark , $primary-color);
    border: 0;
    cursor: pointer;
}